/* Add percentage readout based on --normalized-slider-value to every slider */
.PagedSettingDialog_ContentColumn div:has(> .SliderControl)::after /* in the settings menu */,
.audio_VolumePopin div:has(> .SliderControl)::after /* in the volume notification */ {
  counter-reset: value calc(var(--normalized-slider-value) * 100);
  content: counter(value) "%";
}
/* except these, which already have numbers: */
:is(
  [aria-labelledby$="/settings/power"]  /* power settings (battery charging limit) */,
  [aria-labelledby$="/settings/keyboard"] /* keyboard settings (trackpad sensitivity) */,
  [aria-labelledby$="/settings/display"] .DialogControlsSection:last-child > .Panel:nth-child(3) /* display settings (magnifier scale only) */
)
div:has(> .SliderControl)::after {
  content: none;
}
